{{> message}}
<div class="container my-5">
    <h1 class="text-center mb-4">Available Parking Spots</h1>
    <div class="row">
      {{#each events}}
        <div class="col-md-4 mb-4">
          <div class="card h-100 shadow-sm">
            // Map image with available parking spots marked
          </div>
        </div>
      {{/each}}
    </div>
  </div>