<style>
    body {
    background-image: url('/images/CU_Campus.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
</style>

{{> message}}
<h1 class="text-center mb-4" style="color: green;">Logged out Successfully!</h1>